.calculator-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(to right, var(--green), var(--red));
  border-radius: 8px;
  min-height: 75vh;
  min-width: fit-content;
  box-shadow: 4px 4px 20px rgba(0, 213, 3, 0.1);
}

.calculator-box::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--background-dark);
  border-radius: 5px;
  z-index: 0;
}

.current-tab {
  background-color: var(--green);
  color: black;
}

.input-section,
.results-section {
  flex: 1;
  padding: 5rem;
  z-index: 2;
}

.input-section {
  max-width: 45%;
}

.input-section label {
  padding: 1rem 1rem 1rem 0;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title-one,
#title-three,
.results-group {
  padding-bottom: 1.5rem;
}

#title-two {
  margin-top: 2rem;
  padding: 1.5rem 0 1.5rem 0;
}

#calculate-button {
  display: block;
  margin: auto;
  color: inherit;
  margin-top: 2rem;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  position: relative;
  background: linear-gradient(to right, var(--green), var(--red));
  box-shadow: 4px 4px 20px rgba(0, 213, 3, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#calculate-button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--background-dark);
  border-radius: 5px;
  z-index: 0;
}

#calculate-button:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 10px rgba(0, 213, 3, 0.3);
}

#calculate-button:focus {
  outline: none;
  box-shadow: 0px 0px 8px var(--green);
}

#calculate-button span {
  position: relative;
  z-index: 10;
}

.input {
  margin-left: 3rem;
  width: 100px;
  padding: 0.1rem;
  background-color: var(--input-dark);
  color: inherit;
  border: 1px solid var(--green);
  border-radius: 3px;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 8px var(--green);
}

.input,
select,
textarea {
  caret-color: var(--green);
}

table {
  table-layout: auto;
  border-collapse: collapse;
}

th,
td {
  padding: 0.3rem 1rem 0.3rem 0;
}

@media (max-width: 1250px) {
  th,
  td {
    padding: 0.3rem 0.5rem;
  }
}

#cagr-result {
  min-height: 25px;
}

@media (max-width: 920px) {
  .calculator-box {
    display: flex;
    flex-direction: column;
    /* min-width: 375px; */
  }

  .input-section,
  .results-section {
    max-width: 100%;
    padding-left: min(5rem, 10%);
  }
}

@media (max-width: 530px) {
  th,
  td {
    padding: 8px 2px;
    text-align: center;
  }

  label {
    white-space: normal;
    /* width: 110px; */
  }

  .input-section {
    max-width: 100%;
  }

  .input {
    margin-left: 0;
    width: 100%;
    height: 40px;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
  }

  #calculate-button {
    width: 100%;
    height: 50px;
    margin-top: 60px;
  }

  th:nth-child(1) {
    width: 15%;
  }
}
