.calculator-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(to right, var(--green), var(--red));
  border-radius: 8px;
  min-height: 75vh;
  box-shadow: 4px 4px 20px rgba(0, 213, 3, 0.1);
}

.calculator-box::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--background-dark);
  border-radius: 5px;
  z-index: 0;
}

.current-tab {
  background-color: var(--green);
  color: black;
}

.input-section,
.results-section {
  /* max-width: 50%; */
  flex: 1;
  padding: 5rem;
  z-index: 2;
}

.input-section p {
  padding: 1rem 1rem 1rem 0;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title-one {
  padding-bottom: 1.5rem;
}

#title-two {
  margin-top: 2rem;
  padding: 1.5rem 0 1.5rem 0;
}

#calculate-button {
  display: block;
  margin: auto;
  color: inherit;
  margin-top: 2rem;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  position: relative;
  background: linear-gradient(to right, var(--green), var(--red));
  box-shadow: 4px 4px 20px rgba(0, 213, 3, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#calculate-button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--background-dark);
  border-radius: 5px;
  z-index: 0;
}

#calculate-button:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 10px rgba(0, 213, 3, 0.3);
}

#calculate-button span {
  position: relative;
  z-index: 10;
}

.input {
  margin-left: 3rem;
  width: 100px;
  padding: 0.1rem;
  background-color: var(--input-dark);
  color: inherit;
  border: 1px solid var(--green);
  border-radius: 3px;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 8px var(--green);
}

.input,
select,
textarea {
  caret-color: var(--green);
}
