.card-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3rem;
}

.calc-card {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  background: linear-gradient(to right, var(--green), var(--red));
  padding: 4px;
  border-radius: 8px;
  min-height: 18vh;
  box-shadow: 4px 4px 20px rgba(0, 213, 3, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.calc-card::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--background-dark);
  border-radius: 5px;
  z-index: 0;
}

.calc-card:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 25px rgba(0, 213, 3, 0.3);
}

.calc-card h3,
.calc-card p {
  position: relative;
  z-index: 2;
  margin: 1.5rem calc(2vw + 1rem);
}

.card-content {
  flex: 1;
  min-width: 0;
}

.card-image {
  width: 40%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 1));
}

.card-image img {
  width: auto;
  height: 80%;
  opacity: 0.6;
}

.left {
  grid-column: 1 / 5;
}

.right {
  grid-column: 4 / 8;
}

h3 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

@media (max-width: 1075px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .left {
    grid-column: 1 / 4;
  }

  .right {
    grid-column: 2 / 5;
  }
}

@media (max-width: 785px) {
  .card-container {
    display: block;
    padding: 0;
  }

  .calc-card {
    margin: 3rem 0.5rem;
  }
}

@media (max-width: 500px) {
  .calc-card {
    display: block;
    margin: 1rem 0;
  }

  .card-image {
    display: none;
  }

  .calc-card::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
  }

  .comp-int::after {
    background-image: url("assets/chart-1.svg");
  }

  .cagr-card::after {
    background-image: url("assets/cagr.svg");
  }

  .perc-card::after {
    background-image: url("assets/percent.svg");
  }

  .cc-card::after {
    background-image: url("assets/credit-card.svg");
  }
}
