.calculator-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  position: relative;
  background: linear-gradient(to right, var(--green), var(--red));
  border-radius: 8px;
  min-height: 75vh;
  padding: 3rem;
  min-width: fit-content;
  box-shadow: 4px 4px 20px rgba(0, 213, 3, 0.1);
}

.calculator-box::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--background-dark);
  border-radius: 5px;
  z-index: 0;
}

.current-tab {
  background-color: var(--green);
  color: black;
}

.calc-card {
  position: relative;
  z-index: 2;
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 1rem;
}

.calculator-box button {
  display: block;
  margin: 1rem auto;
  color: inherit;
  /* margin-top: 1rem; */
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  position: relative;
  background: linear-gradient(to right, var(--green), var(--red));
  box-shadow: 4px 4px 20px rgba(0, 213, 3, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.calculator-box button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--background-dark);
  border-radius: 5px;
  z-index: 0;
}

.calculator-box button:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 10px rgba(0, 213, 3, 0.3);
}

.calculator-box button:focus {
  outline: none;
  box-shadow: 0px 0px 8px var(--green);
}

.calculator-box button span {
  position: relative;
  z-index: 10;
}

.calculator-box h3 {
  margin-bottom: 1rem;
}

.input {
  margin: 1rem 1rem;
  width: 100px;
  padding: 0.1rem;
  background-color: var(--input-dark);
  color: inherit;
  border: 1px solid var(--green);
  border-radius: 3px;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 8px var(--green);
}

.input,
select,
textarea {
  caret-color: var(--green);
}

.result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--red);
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin: 2rem auto 1rem auto;
  font-weight: 600;
  font-size: 22px;
  color: var(--green);
}

.toggle-container {
  display: inline;
}

.toggle-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.toggle-container label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  background-color: var(--background-dark);
  border: 1px solid var(--green);
  color: var(--green);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  position: relative;
  z-index: 2;
}

#plus + label {
  border-radius: 5px 0 0 5px;
}

#minus + label {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.toggle-container input[type="radio"]:checked + label {
  background-color: var(--green);
  color: var(--background-dark);
  box-shadow: 0 0 10px rgba(0, 213, 3, 0.4);
}

@media (max-width: 1250px) {
  .input {
    margin: 1rem 0.4rem;
  }
}

@media (max-width: 950px) {
  .calculator-box {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 8%;
  }

  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    margin: 1rem 1.5rem;
  }
}
@media (max-width: 520px) {
  .calc-card {
    padding: 0;
    border: none;
  }

  .input-group {
    display: block;
  }

  .input {
    width: 100%;
    margin: 1rem auto;
  }

  .toggle-container {
    display: flex;
    justify-content: center;
  }
}
